In [22]:
#import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import requests

#Import the API gkey
from config import g_key

In [23]:
#Store csv file you saved creayed in part one into a dataframe.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Olafsvik,IS,2021-03-20 05:11:26,64.8945,-23.7142,37.26,69,83,19.55
1,1,Bambous Virieux,MU,2021-03-20 05:11:27,-20.3428,57.7575,82.99,74,40,12.66
2,2,Ushuaia,AR,2021-03-20 05:11:27,-54.8000,-68.3000,39.20,93,90,20.71
3,3,Hofn,IS,2021-03-20 05:11:27,64.2539,-15.2082,38.79,55,2,16.93
4,4,Akdepe,TM,2021-03-20 05:11:28,42.0551,59.3788,44.60,61,0,11.50

In [24]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [25]:
#Configure gmaps to use your goggle API key.
gmaps.configure(api_key=g_key)
gmaps

In [26]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
max_temp

0      37.26
1      82.99
2      39.20
3      38.79
4      44.60
       ...
536    77.00
537    21.76
538     9.00
539    68.63
540    75.20
Name: Max Temp, Length: 541, dtype: float64

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of wind speed.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bambous Virieux,MU,2021-03-20 05:11:27,-20.3428,57.7575,82.99,74,40,12.66
6,6,Arraial Do Cabo,BR,2021-03-20 05:11:28,-22.9661,-42.0278,76.24,89,0,16.89
10,10,Harper,LR,2021-03-20 05:11:29,4.3750,-7.7169,77.86,83,75,4.14
11,11,Minab,IR,2021-03-20 05:11:29,27.1467,57.0801,77.00,69,75,4.61
28,28,Bandarbeyla,SO,2021-03-20 05:11:34,9.4942,50.8122,79.27,66,0,10.65
29,29,Touros,BR,2021-03-20 05:11:34,-5.1989,-35.4608,77.00,88,0,4.61
31,31,Marzuq,YE,2021-03-20 05:11:34,14.4000,46.4667,75.22,12,0,1.19
32,32,Dingle,PH,2021-03-20 05:11:35,10.9995,122.6711,89.01,59,40,10.71
38,38,Saint-Philippe,RE,2021-03-20 05:07:55,-21.3585,55.7679,82.40,69,0,5.75
56,56,Mahebourg,MU,2021-03-20 05:10:41,-20.4081,57.7000,80.60,74,40,12.66

In [46]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bambous Virieux,MU,2021-03-20 05:11:27,-20.3428,57.7575,82.99,74,40,12.66
6,6,Arraial Do Cabo,BR,2021-03-20 05:11:28,-22.9661,-42.0278,76.24,89,0,16.89
10,10,Harper,LR,2021-03-20 05:11:29,4.3750,-7.7169,77.86,83,75,4.14
11,11,Minab,IR,2021-03-20 05:11:29,27.1467,57.0801,77.00,69,75,4.61
28,28,Bandarbeyla,SO,2021-03-20 05:11:34,9.4942,50.8122,79.27,66,0,10.65
29,29,Touros,BR,2021-03-20 05:11:34,-5.1989,-35.4608,77.00,88,0,4.61
31,31,Marzuq,YE,2021-03-20 05:11:34,14.4000,46.4667,75.22,12,0,1.19
32,32,Dingle,PH,2021-03-20 05:11:35,10.9995,122.6711,89.01,59,40,10.71
38,38,Saint-Philippe,RE,2021-03-20 05:07:55,-21.3585,55.7679,82.40,69,0,5.75
56,56,Mahebourg,MU,2021-03-20 05:10:41,-20.4081,57.7000,80.60,74,40,12.66

In [47]:
preferred_cities_df.count()

City_ID       118
City          118
Country       118
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [49]:
preferred_cities_df.isnull()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
526,False,False,False,False,False,False,False,False,False,False
533,False,False,False,False,False,False,False,False,False,False
535,False,False,False,False,False,False,False,False,False,False
536,False,False,False,False,False,False,False,False,False,False
540,False,False,False,False,False,False,False,False,False,False

In [50]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
1    Bambous Virieux      MU     82.99 -20.3428   57.7575
6    Arraial Do Cabo      BR     76.24 -22.9661  -42.0278
10            Harper      LR     77.86   4.3750   -7.7169
11             Minab      IR     77.00  27.1467   57.0801
28       Bandarbeyla      SO     79.27   9.4942   50.8122
..               ...     ...       ...      ...       ...        ...
526       Pedernales      DO     76.01  18.0384  -71.7440
533       Morant Bay      JM     78.80  17.8815  -76.4093
535            Tabuk      PH     85.91  17.4189  121.4443
536        Portobelo      PA     77.00   9.5500  -79.6500
540        Tabatinga      BR     75.20  -4.2525  -69.9381

[118 rows x 6 columns]

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [58]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found.....skipping.")
hotel_df

Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bambous Virieux,MU,82.99,-20.3428,57.7575,Casa Tia Villa
6,Arraial Do Cabo,BR,76.24,-22.9661,-42.0278,Pousada Porto Praia
10,Harper,LR,77.86,4.3750,-7.7169,Screensaver
11,Minab,IR,77.00,27.1467,57.0801,Bam campground
28,Bandarbeyla,SO,79.27,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...
526,Pedernales,DO,76.01,18.0384,-71.7440,Hotel Costa Marina
533,Morant Bay,JM,78.80,17.8815,-76.4093,Whispering Bamboo Cove Resort
535,Tabuk,PH,85.91,17.4189,121.4443,Golden Berries Hotel and Convention
536,Portobelo,PA,77.00,9.5500,-79.6500,Scuba Portobelo
540,Tabatinga,BR,75.20,-4.2525,-69.9381,Hotel Amazon Bed and Breakfast / Hotel Amazon B&B

In [59]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))